body {
    position: relative;
    margin: 0;
}

.main-content {
    margin: 6rem auto;
    width: 52rem;

    text-align: justify;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;

    background-color: #fff;
    box-shadow: 2px 2px 4px 2px #ccc;
}

.navbar > .navbar-content {
    display: flex;
    flex-direction: row;

    width: 80%;
    float: left;
}
.navbar-content a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    

    font-family: "Poppins", sans-serif;

    padding: .8rem .8rem;
    display: block;
}

.navbar-content a:hover {
    background-color: rgba(0, 0, 0, .12);
}
.navbar-content a:active {
    background-color: rgba(0, 0, 0, .4);
}

.toggle-button {
    display: none;
    position: relative;
    float: right;
    height: 3rem;
    width: 3rem;
}

.toggle-button > svg {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .main-content {
        width: 22rem;
    }

    .navbar {
        width: 16rem;
        height: 100vh;
    }

    .navbar > .navbar-content {
        flex-direction: column;
    }

    .toggle-button {
        display: block;
    }

    /* .navbar-content  a {
        font-size: 1rem;
        padding: .5rem .8rem;
    } */
}